body {
    font-family: Gill Sans;
}

#nav {
    display: flex;
    justify-content: space-around;
    margin: 1em;
    font-size: 20;
    padding: 1em;
}

h1 {
    text-align: center;
}

#create {
    margin: 2em;
}
#members {
    margin: 1em;
}

#createButton {
    margin: 1em;
}

#site-details {
    text-align: center;
    font-size: large;
    margin: 1em;
}

#club-line {
    text-align: center;
    font-weight: bold;
    font-size: 22;
}
#site-cert {
    text-align: center;
}
#dive-site {
    margin: 1em;
    text-decoration: none;
    text-align: center;
}
#diver {
    margin: 2em;
}
#members-title {
    font-size: 24;
    font-weight: bold;
}

#itin-title {
    font-size: 24;
    font-weight: bold;
    text-align: center;
}
ul {
    list-style: none;
}