body {
    font-family: Gill Sans;
}

#nav {
    display: flex;
    justify-content: space-around;
    margin: 1em;
    font-size: 20;

}

h1 {
    text-align: center;
}

#create {
    margin: 2em;
}
#members {
    margin: 1em;
}

#createButton {
    margin: 1em;
}

#site-details {
    text-align: center;
    font-size: large;
}

#club-line {
    text-align: center;
    font-weight: bold;
    font-size: 22;
}

/* #divers {
    display: flex;

    border: solid 1px black;
} */